/.idea/
*.pyc
__pycache__/
/.project/
.coverage
/htmlcov/
/doc/
/build/
/fold
/dynamic-segmentation/pytorch/__pycache__/
/dynamic-segmentation/pytorch/.ipynb_checkpoints/
/dynamic-segmentation/tf_fold/__pycache__/
/dynamic-segmentation/tf_fold/.ipynb_checkpoints/
/dynamic-segmentation/pytorch/data/
